.Home {
  text-align: center;
}

.Home-logo {
  /* animation: Home-logo-spin infinite 20s linear; */
  height: 10vmin;
  pointer-events: none;
}

.Home-header {
  background-color: #d5ddeb;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.Home-body {
  background-color: #d5ddeb;
  min-height: 50vh;
  display: normal;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Home-footer {
  background-color: #032868;
  min-height: 5vh;
  display: normal;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Home-link {
  color: #170191;
}

.Home-api-response {
  margin-top: 10px;
  width: 50%;
  background-color: #d5ddeb;
  display: inline-block;
  font-family: 'Lucida Console', monospace
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home-details {
  margin-top: 2em;
  font-size: 14px;
  max-width: 50%;
}
.Home-details a {
  color: #170191;
}
.Home-details-links {
  text-align: center;
  display: inline-block;
}